.food_list li {
    display: flex;
    justify-content: flex-end;
}

.food_list input {
    width: 40px;
    margin-left: 20px;
}

.food_list i {
    cursor: pointer;
}

.food_list{
    width: 30%;
    margin: 0 auto;
}

.cart_overview li{
    display: flex;
    justify-content: space-between;
}

.cart_overview i {
    cursor: pointer;
}