* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.calcContainer {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.calculator {
    font-size: 36px;
    display: grid;
    grid-template-columns: 62px 62px 62px 62px;
    /* grid-template-rows: 50px 50px 50px 50px; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.calculator button {
    padding: 0;
    font-weight: 300 !important;
    width: 62px;
    height: 62px;
    align-self: center;
    display: block;
    font-size: 24px !important;
    color: black !important;
    border: 1px solid black;
}

.calculator button:hover {
    background-color: teal !important;
}

.calc_display {
    border: 1px solid black;
    width: 100%;
    height: 62px;
    padding-right: 5px;
    background-color: grey;
    grid-column: 1 / 5;
}

/* .calculator .zero {
    width: auto;
    grid-column: 1 / 3;
} */

.history {
    font-size: 24px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightgray;
}


.history span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 61px;
    transition: all 0.3s;
    border-top: 1px solid black;
}

.history span:last-of-type {
    border-bottom: 1px solid black;
}

.history span:hover {
    background-color: teal;
    cursor: pointer;
}